<h2>Welcome to the website of BestQA.ORG</h2>
<p>We are a nonprofit orgnization in software.</p>
<p>We known Quality Assurance should be run through the whole life cycle of software.</p>
<p>Let's look at the definition from <%= link_to "wikipedia", "http://en.wikipedia.org/wiki/Software_Quality_Assurance" %></p>
<p>Software quality assurance (SQA) consists of a means of monitoring the software engineering processes and methods used to ensure quality. The methods by which this is accomplished are many and varied, and may include ensuring conformance to one or more standards, such as ISO 9000 or a model such as CMMI.</p>
<p>You are at bestqa.org >> home </p>