<h2>Resources List</h2>
<ul>
<li>
  <%= link_to "Tools", tools_path %>
  <p>
    Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools
    Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools
  </p>
</li>
<li>
  Orgnizations
  <p>
    Orgnizations Orgnizations Orgnizations Orgnizations Orgnizations Orgnizations Orgnizations Orgnizations Orgnizations Orgnizations Orgnizations Orgnizations 
    Orgnizations Orgnizations Orgnizations Orgnizations Orgnizations Orgnizations
  </p>
</li>
<li>
  Books
  <p>
    Books Books Books Books Books Books Books Books Books Books Books Books Books Books Books Books Books Books Books Books
  </p>
</li>
<li>
  Jobs
  <p>
    Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs 
    Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs Jobs 
  </p>
</li>
</ul>
