<h1>Resources List</h1>
<ul>
<li>
  <%= link_to "Tools", tools_path %>
  <p>
    Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools
    Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools
  </p>
</li>
<li>Orgnizations</li>
<li>Books</li>
<li>Jobs</li>
</ul>
